// Navigation Styles here

header {
    @media @mobile {
    display:block;
    margin: auto;
  }
  .headernav {
    height: 90px;
    margin: 0 100px;
    .flexbox(row, space-between, center, nowrap);
    @media @mobile {
    display:block;
    margin: auto;
  }
  nav {
    margin-right: 15px;
    a {
      .navstyle();
      font-size: 1.8rem;
    }
  }
}
}